<footer>
    <div [@animateFooter]>
        <ul class="footer-left-bar d-none d-md-block">
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_github", "footer", "github")' href="https://github.com/srdrsvml1986" target='_blank'>
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a (click)='analyticsService.sendAnalyticEvent("click_linkedin", "footer", "github")' href="https://www.linkedin.com/in/serdar-sevimli-6098b8182/" target='_blank'>
                    <i class="fab fa-linkedin-in"></i>
                </a>
            </li>
        </ul>
        <div class="footer-right-bar d-none d-md-block">
            <a (click)='analyticsService.sendAnalyticEvent("click_send_mail", "footer", "email")' href="mailto:bilgi@serdarsevimli.tr" target='_blank'>bilgi&#64;serdarsevimli.tr</a>
        </div>
    </div>
    <div class="footer-credits text-center" >
        <a (click)="openGithubPortfolio()" style="cursor: pointer;">
            <div>{{"Footer.Company" | translate}}</div>
        </a>
    </div>
</footer>