@use "./../../../../variables.scss" as v;

.banner {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;

    .section-box {
        padding: 130px 0;
    }

    .banner-title {
        h1 {
            color: v.$Green;
            margin: 0 0 20px 3px;
            font-size: 16px;
            font-weight: normal;
            font-family: v.$CodeFont;
        }

        h3, h4 {
            font-weight: 600;
            font-size: 40px;
            line-height: 1.1;
            margin: 0;
            font-family: v.$MainFont;
        }

        h3 {
            color: v.$LightestSlate;
        }

        h4 {
            color: v.$Slate;
            margin-top: 10px;
        }
    }

    .banner-content {
        margin-top: 30px;

        .content-wrapper {
            margin-bottom: 40px;
        }

        .banner-description {
            p {
                color: v.$Slate;
                font-size: 20px;
                line-height: 1.5;
                max-width: 540px;
            }
        }
    }
}

@media (max-width: 768px) {
    .banner {
        .section-box {
            padding: 60px 0;
        }

        .banner-title {
            h1 {
                font-size: 14px;
            }

            h3, h4 {
                font-size: 32px;
            }
        }

        .banner-content {
            .banner-description {
                p {
                    font-size: 16px;
                    max-width: 100%;
                }
            }
        }
    }
}



