<section class="section" id="banner">
    <div class="container banner">
        <div class="section-box">
            <div class="banner-title mb-5" data-aos="fade-up">
                <div class="hero-pretitle">
                    <h1>{{"Banner.Pretitle" | translate}}</h1>
                </div>
                <div class='banner-title animate__animated animate__fadeIn'>
                    <h3 class="gradient-text">{{"Banner.Title" | translate}}</h3>
                    <h4 class="typing-text">{{"Banner.Subtitle" | translate}}</h4>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="banner-content" data-aos="fade-up" data-aos-duration="1000">
                        <div class="content-wrapper">
                            <div class='banner-description animate__animated animate__fadeInUp'>
                                <p [innerHTML]='"Banner.Description" | translate' class="mt-4 lead"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
