<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title text-center mb-5" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'></span> {{"AboutMe.Title" | translate}}
                </h3>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-12">
                    <div class="about-description">
                        <div class="content-wrapper" data-aos="fade-up" data-aos-duration="1000">
                            <p *ngFor='let text of "AboutMe.Paragraphs" | translate' [innerHTML]="text">
                            </p>
                        </div>

                        <div class="skills-container mt-5" data-aos="fade-up">
                            <h4 class="skills-title text-left mb-4">Yeteneklerim</h4>
                            <div class="skills-grid">
                                <div class="skill-element" *ngFor="let skill of [
                                    'Angular',
                                    'HTML & (S)CSS',
                                    'Sqlite & PostgreSQL',
                                    'C# Net Core',
                                    'Web Api',
                                    'Entity Framework',
                                    'Web Uygulamaları',
                                    'Mobil Uygulamalar',
                                    'Flutter'
                                ]" data-aos="fade-up" data-aos-duration="1000">
                                    <span class="skill-text">{{skill}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
